<dating-card vehicle-id="<%= vehicle._id %>">
  <div class="card mb-3">
        
    <img
        src="<%= vehicle.imageUrl %>"
        alt="Car Image"
    />
    <div class="card-body">
      <h4 class="card-title"><%= vehicle.details.make %></h4>
      <div class="row">
          <div class="col-md-4">
              <ul>
                  <li><b>Price: </b><%= vehicle.dailyPrice %>$/day</li>
                  <li><b>Model: </b><%= vehicle.details.model %></li>
                  <li><b>Year: </b><%= vehicle.details.year %></li>
                  <li><b>Type: </b><%= vehicle.type %></li>
              </ul>
          </div>
          <div class="col-md-4">
              <ul>
                  <li><b>Category: </b><%= vehicle.category %></li> 
                  <li><b>Colour: </b><%= vehicle.details.colour %></li>
                  <li><b>Number of Seats: </b><%= vehicle.details.seats %></li>
                  <li><b>Number of Doors: </b><%= vehicle.details.doors %></li>
              </ul>
          </div>
          <div class="col-md-4">
              <ul>
                  <li><b>Mileage: </b> <%= vehicle.details.mileage %> km</li>
                  <li><b>Is Automatic? </b><%= vehicle.details.isAutomatic %></li>
                  <li><b>Engine Type: </b> <%= vehicle.details.engineType %></li>
              </ul>
          </div>
      </div>
    </div>
</div>
    
</dating-card>