<div class="container py-2 my-3 rounded bg-light d-flex justify-content-between">    
<% if (user && user.type === 'admin') { %>
<%- include('./newButton') %>
<% } %>
</div>
<style>
    #vehicle-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2rem;
    }
</style>
<div class="container" id="vehicle-list">
    <% if (typeof error !== 'undefined') { %>
        <div class="alert alert-danger alert-dismissible fade show"><%= error %></div>
    <% } else { %>
        <% vehicleList.forEach(function(vehicle) { %>
            <%- include('./row', { vehicle }) %>
        <% }) %>
    <% } %>
</div>
<%- include('./form') %>
<%- include('../reservation/form') %>
