<vehicle-card
    class="card shadow-sm"
    style="max-width: 18rem"
    vehicle-id="<%= vehicle._id %>"
>
    <img
        src="<%= vehicle.imageUrl %>"
        class="card-img-top"
        style="height: 200px; object-fit: cover"
        alt="Car Image"
    />
    <div class="card-body">
        <h5 class="card-title model"><%= vehicle.details.model %></h5>
        <p class="card-text">
            <span class="vehicle-year"
            ><%= vehicle.details.year %></span
            >&nbsp;|&nbsp;<span class="vehicle-make"
            ><%= vehicle.details.make %></span
            >&nbsp;|
            $<span class="vehicle-price"><%= vehicle.hourlyPrice %></span><small class="text-secondary">/hr</small>
        </p>
        <% if (user && user.type === 'admin') { %>
        <div>
            <button class="btn btn-dark edit-vehicle"
                ><i class="bi bi-pencil-fill"></i>
            </button>
            <button class="btn btn-dark delete-vehicle"
                ><i class="bi bi-trash3-fill"></i>
            </button>
            <a href="/reservation-route" class="btn btn-dark reservation-vehicle"><i class="bi bi-calendar"></i></a>
        </div>
        <% } else { %>
            <button class="btn btn-dark edit-vehicle">
                <i class="bi bi-calendar3-range"></i> Reserve
            </button>
        <% } %>
    </div>
</vehicle-card>
