<form action="/users<%= user ? `/${user._id}/update` : '' %>" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
            value = "<%= user ? user.name : '' %>"
            type="text"
            class="form-control"
            id="name"
            name="name"
            required
        >
    </div>
    <div class="row">
        <div class="mb-3 col-sm-8">
            <label for="email" class="form-label">Email</label>
            <input
                value = "<%= user ? user.email : '' %>"
                type="email"
                class="form-control"
                id="email"
                name="email"
                required
            >
        </div>
        <div class="mb-3 col-sm-4">
            <label for="age" class="form-label">Age</label>
            <input
                value = "<%= user ? user.age : '' %>"
                type="number"
                class="form-control"
                id="age" 
                name="age"
                required
            >
        </div>
    </div>
    <div class="mb-3">
        <label for="address" class="form-label">Home Address</label>
        <input
            value = "<%= user ? user.address : '' %>"
            type="text"
            class="form-control"
            id="address"
            name="address"
            required
        >
    </div>
    <div class="row">
        <div class="mb-3 col-md-6">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input
                value="<%= user ? user.phoneNumber : '' %>"
                type="text"
                class="form-control"
                id="phoneNumber"
                name="phoneNumber"
                maxlength="12"
                pattern = "^\d{3}\s\d{3}\s\d{4}$"
                required
            >
        </div>
        <div class="mb-3 col-md-6">
            <label for="driverLicenseNumber" class="form-label">Driver's License Number</label>
            <input
                value="<%= user ? user.driverLicenseNumber : '' %>"
                type="text"
                class="form-control"
                id="driverLicenseNumber"
                name="driverLicenseNumber"
                required
            >
        </div>
    </div>
    <% if (!user) { %>
        <div class="mb-3">
            <label for="hash" class="form-label">Password</label>
            <input type="password" class="form-control" id="hash" name="hash" required>
        </div>
    <% } %>
    <div class="d-flex justify-content-between">
        <a href="/<%= user ? 'logout' : 'login' %>" class=""><%= user ? 'Logout' : 'Login' %></a>

        <div>
            <% if (user) { %>
            <button id="delete-account" class="btn btn-danger">Delete</button>
            <% } %>
            <button type="submit" class="btn btn-success"><%= user ? 'Update' : 'Sign Up' %></button>
        </div>
    </div>
</form>
<script>
    // Automatically format phone number
    const input_phone = document.getElementById("phoneNumber");
    input_phone.addEventListener("input", () => input_phone.value = formatPhone(input_phone.value.replaceAll(" ", "")));

    const formatPhone = (phone) => phone.split("").reduce((seed, next, index) => {
    if (index !== 0 && !(index % 3) && (index <9)) seed += " ";
    return seed + next;
    }, "");
</script>

<% if (user) { %>
<script>
    document.querySelector('#delete-account').addEventListener('click', async (e) => {
        e.preventDefault();
        const popup = document.querySelector('confirmation-popup');
        const swalTitle = 'Delete your account?';
        const swalText = 'This action is permanent.';
        const swalTitleSuccess = "Account Deleted.";
        const swalTextSuccess = 'If this was a mistake, please call our support line.';
        if (!(await popup.confirm(swalTitle, swalText, swalTitleSuccess, swalTextSuccess))) {
            return;
        }
        fetch(`/users/<%= user._id %>`, {
            method: 'DELETE',
        })
            .then((response) => {
                if (response.ok) {
                    var baseUrl = window.location.protocol + "//" + window.location.host;
                    window.location.href = baseUrl;
                } else {
                    document
                        .querySelector('#toast')
                        .caution('Could not delete user.');
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    });
</script>
<% } %>
