<tr>
    <td class="user-name d-none d-sm-table-cell">
        <%= user.name %>
    </td>
    <td class="user-email"><%= user.email %></td>
    <td class="user-address d-none d-md-table-cell"><%= user.address %></td>
    <td class="user-type text-secondary d-none d-sm-table-cell"><%= user.type %></td>
    <td style="width: 8rem;">
        <user-row user-id="<%= user._id %>">
            <button type="button" class="edit-user btn btn-dark">
                <i class="bi bi-pencil-fill"></i>
            </button>
            <button type="button" class="delete-user btn btn-danger">
                <i class="bi bi-trash3-fill"></i>
            </button>
        </user-row>
    </td>
</tr>
