<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
        <script src="/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/font/bootstrap-icons.css" />

        <script type="module" src="/javascripts/vehicleCard.component.js"></script>
        <script type="module" src="/javascripts/userRow.component.js"></script>
        <script type="module" src="/javascripts/reservationCard.component.js"></script>
        <title>Gas</title>
    </head>
    <body>
        <%- include('partials/header') %>
        <%- include('partials/navigation') %>
        <%- body %>
        <%- include('partials/footer') %>
        <%- include('partials/toast') %>
        <%- include('partials/confirmationPopup') %>
    </body>
</html>
