<script type="module" src="/javascripts/csr-processes/checkinForm.component.js"></script>
<checkin-form reservation-id="<%= reservation._id %>">
    <style>
        .greytext {color: grey;}
    </style>
    <div class="container my-5">
        <h1 class="mb-4 text-center">Check-In Process</h1>
        <div class="card text-secondary">
            <div class="card-body">
                <p>Please verify the following:</p>
                <ul>
                    <li>Verify that the resevation ID in the email matches the following reservation ID: <b><%= reservation._id %></b>.</li>
                    <li>Confirm that the customer possesses a <b>valid driver's license</b>.</li>
                    <li>Validate that the last four digits of the customer's credit card match those on file: <b>**** **** **** <%= reservation.user.billingInformation.creditCardNumber.slice(-4) %></b>.</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Existing Damages</h2>
                <p class="text-secondary">Please accompany the customer to inspect the vehicle and record any existing damages.</p>
                <div class="form-group">
                    <label for="damages">Please provide a list of any damages to the car, if applicable.</label>
                    <textarea class="form-control" id="damages" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Add an image to show any damages, if applicable.</label>
                    <input class="form-control" type="file" id="formFile">
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                    The customer complies with the above damages, and is satisfied with the car
                    </label>
                  </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Car Rental Agreement</h2>
                <p class="card-text">Rental Agreement Number: <% reservation._id %></p>
                <p>This Rental Agreement ("Agreement") is entered into between Gas, located at the <%= reservation.pickupLocation.name %>, hereinafter referred to as the "Rental Company," and the individual or entity identified below, hereinafter referred to as the "Renter":</p>
                <h3 class="mt-4">1. Renter's Information:</h3>
                
                <div class="row align-items-center">
                    <div>
                        <p>Name: <b><%= reservation.user.name %></b></p>
                    </div>
                    <div>
                        <p>Address: <b><%= reservation.user.address %></b></p>
                    </div>
                    <div class="col-auto mb-3">
                        <label for="contactNumber" class="form-label">Contact Number:  <b><%= reservation.user.phoneNumber %></b></label>
                    </div>
                    <div>
                        <p>Email Address: <b><%= reservation.user.email %></b></p>
                    </div>
                    <div class="col-auto mb-3">
                        <label for="driversLicenseNumber" class="form-label">Driver's License Number:  <b><%= reservation.user.driverLicenseNumber %></b></label>
                    </div>
                </div>
                

                <h3 class="mt-4">2. Vehicle Information:</h3>
                <p>Make: <b><%= reservation.vehicle.details.make %></b></p>
                <p>Model: <b><%= reservation.vehicle.details.model %></b></p>
                <p>Year: <b><%= reservation.vehicle.details.year %></b></p>
                <p>License Plate Number: <b><%= reservation.vehicle.licensePlateNumber %></b></p>          
                <p>Vehicle Identification Number (VIN): <b><%= reservation.vehicle._id %></b></p>
                <p>Colour: <b><%= reservation.vehicle.details.colour %></b></p>

                <h3 class="mt-4">3. Rental Details:</h3>
                <p>Rental Start Date: <b><%= reservation.startDate %></b></p>
                <p>Rental End Date: <b><%= reservation.endDate %></b></p>
                <p>Pick-up Location: <b><%= reservation.pickupLocation.name %></b></p>
                <p>Drop-off Location: <b><%= reservation.dropoffLocation.name %></b></p>
                <p>Rental Period: <b><%= reservation.duration %> <%= reservation.duration === 1 ? 'day' : 'days' %></b></p>
                <p>Mileage Limit (if applicable): <b><%= reservation.vehicle.details.mileage %> km</b></p>
                <p>Rental Rate: <b><%= reservation.vehicle.dailyPrice %>$/day</b></p>
                <p>Additional Services (if any): 
                    <b>
                    <% if (reservation.accessories.length > 0) { %>
                        <% for (let i = 0; i < reservation.accessories.length; i++) { %>
                            <% if (i === reservation.accessories.length - 2) { %>
                                <%= reservation.accessories[i].name %> and  
                            <% } else if (i === reservation.accessories.length - 1) { %>
                                <%= reservation.accessories[i].name %>
                            <% } else { %>
                                <%= reservation.accessories[i].name %>,
                            <% } %>
                        <% } %>
                    <% } %>
                    </b>
                </p>

                <h3 class="mt-4">4. Rental Terms and Conditions:</h3>  
                <p>- The Renter acknowledges receiving the vehicle described above in good condition and agrees to return it to the Rental Company in the same condition, subject to normal wear and tear.
                    <br>- The Renter agrees to use the vehicle solely for personal or business purposes and not for any illegal activities.
                    <br>- The Renter agrees to pay the Rental Company the agreed-upon rental rate for the specified rental period. Additional charges may apply for exceeding the mileage limit, late returns, fuel refueling, or other damages.
                    <br>- The Renter agrees to bear all costs associated with traffic violations, tolls, and parking fines incurred during the rental period.
                    <br>- The Renter acknowledges that they are responsible for any loss or damage to the vehicle, including theft, vandalism, accidents, or negligence, and agrees to reimburse the Rental Company for all repair or replacement costs.
                    <br>- The Renter agrees to return the vehicle to the designated drop-off location at the agreed-upon date and time. Failure to do so may result in additional charges.
                    <br>- The Rental Company reserves the right to terminate this agreement and repossess the vehicle without prior notice if the renter breaches any terms or conditions of this agreement.
                    <br>- The Renter acknowledges receiving and reviewing a copy of the vehicle's insurance coverage and agrees to comply with all insurance requirements during the rental period.
                    
                </p>
                
                <h3 class="mt-4">5. Indemnification:</h3>
                <p>- The Renter agrees to indemnify and hold harmless the Rental Company, its employees, agents, and affiliates from any claims, liabilities, damages, or expenses arising out of or related to the Renter's use of the vehicle.</p>

                <h3 class="mt-4">6. Governing Law:</h3>
                
                <p>This Agreement shall be governed by and construed in accordance with the laws of the Province of Quebec. Any disputes arising under or related to this Agreement shall be resolved exclusively by the courts of the Province of Quebec.</p>

                <h3 class="mt-4">7. Entire Agreement:</h3>
                <p>This Agreement constitutes the entire understanding between the parties concerning the subject matter hereof and supersedes all prior agreements and understandings, whether written or oral.
                </p>

                <h3 class="mt-4">8. Signatures:</h3>
                <p>The parties hereto have executed this Agreement as of the date first written above.</p>
                <p><b>Rental Company:</b></p>
                <div class="row align-items-center">
                    <div class="col-auto mb-3">
                        <label for="companySign" class="form-label">Signature:</label>
                        
                    </div>
                    <div class="col-auto mb-3">
                        <input type="text" class="form-control form-control-sm" id="companySign">
                    </div>


                </div>
                <div class="row align-items-center">
                    <div class="col-auto mb-3">
                        <label for="companyName" class="form-label">Print Name:</label>
                        
                    </div>
                    <div class="col-auto mb-3">
                        <input type="text" class="form-control form-control-sm" id="companyName">
                    </div>

                </div>
                <div class="row align-items-center">
                    <div class="col-auto mb-3">
                        <label for="companyDate" class="form-label">Date:</label>
                        
                    </div>
                    <div class="col-auto mb-3">
                        <input type="date" class="form-control form-control-sm" id="companyDate">
                    </div>
                </div>
                <p><b>Renter:</b></p>
                <div class="row align-items-center">
                    <div class="col-auto mb-3">
                        <label for="userSign" class="form-label">Signature:</label>
                        
                    </div>
                    <div class="col-auto mb-3">
                        <input type="text" class="form-control form-control-sm" id="userSign">
                    </div>


                </div>
                <div class="row align-items-center">
                    <div class="col-auto mb-3">
                        <label for="userName" class="form-label">Print Name:</label>
                        
                    </div>
                    <div class="col-auto mb-3">
                        <input type="text" class="form-control form-control-sm" id="userName">
                    </div>

                </div>
                <div class="row align-items-center">
                    <div class="col-auto mb-3">
                        <label for="userDate" class="form-label">Date:</label>    
                    </div>
                    <div class="col-auto mb-3">
                        <input type="date" class="form-control form-control-sm" id="userDate">
                    </div>
                </div>
                
                <div class="mt-4">
                    <p class="text-secondary">If the customer wishes to sign the contract physically, please click here to to generate a printable version.</p>
                    <button id="printButton" class="btn btn-secondary"><i class="bi bi-printer"></i> Print</button>
                    <br>
                </div>
                

                <div id="agreement-div" class="text-center">
                    <button type="submit" id="submitAgreement" class="btn btn-primary"><i class="me-2 bi bi-pen"></i>Submit Agreement</button>
                </div>
                <div id="agreement-success-div" class="d-flex gap-2 justify-content-between" style="display: none !important;">
                    <h4>Agreement Submitted.</h4>
                </div>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-body">
                <p class="text-secondary">
                    Inform the customer that a $500 CAD deposit will be taken from their
                    account, using the credit card on file.
                </p>
                <div>
                    <button id="subdmitDeposit" type="submit" class="btn btn-primary"><i class="me-2 bi bi-coin"></i>Perform Deposit</button>
                </div>
                <div id="success-div" class="d-flex gap-2 justify-content-between" style="display: none !important;">
                    <h4>Deposit was successful.</h4>
                    <button id="checkinSubmit" class="btn btn-success">Finalize Check-in<i class="ms-2 bi bi-check2-all"></i></button>
                </div>
            </div>
        </div>
    </div>
<script type="module" src="/javascripts/csr-processes/checkinForm.component.js"></script>
</checkin-form>
